@import "./src/global/vars";

.grid {
  display: grid;
  grid-template-columns: 1fr;

  @include respond-to("small") {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }

  @include respond-to("large") {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }

  &Column {
    background-color: $white;
    padding: 20px 20px 0;
    border: 4px dashed;
    border-radius: 10px;
    min-height: 12rem;
    margin-bottom: 1rem;
  }
}

.stage {
  position: relative;
  display: flex;
  margin-bottom: 1.5rem;
  padding: 1rem 0 1rem 1rem;
  background-color: $white;
  border: 3px solid $black;

  &Title,
  &Counter {
    font-size: 1.8rem;
    font-weight: bold;
    font-family: $regular;
  }

  &Title {
    border-bottom: 4px dashed $black;
  }

  &Counter {
    position: relative;
    z-index: 0;
    font-weight: bold;
    font-family: $title;
    margin-left: 1.5rem;

    &:before {
      content: "";
      position: absolute;
      height: 40px;
      min-width: 50px;
      left: -0.75rem;
      top: 0.15rem;
      background-color: #fae603;
      transform: skewX(-19deg);
      z-index: -1;
    }
  }
}

.addBookCard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  font-family: $regular;
  font-size: 1.3rem;
  font-weight: bold;
  color: $black;
  background-color: $yellow;
  border: none;
  transition: $transition;

  svg {
    width: 2rem;
    height: 2rem;
  }

  &:hover,
  &:active {
    color: $yellow;
    background-color: $black;
    transition: $transition;
  }
}

.icon {
  @include icon;
}

.clearAll {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $regular;
  font-size: 1.3rem;
  @include buttonColor($black, $yellow);

  span {
    margin: 0 .5rem;
  }
}
