@import "./src/global/vars";

.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &Footer {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;

    @include respond-to("medium") {
      margin-top: 2rem;
    }

    & > div {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }

  &Row {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;

    @include respond-to("medium") {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 2rem;
    }
  }

  &List {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;

    @include respond-to("medium") {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 2rem;
    }
  }

  &Subtitle {
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem 0;

    @include respond-to("medium") {
      margin: 2rem 0 0.5rem;
    }
  }

  &Button {
    display: flex;
    align-items: center;

    svg {
      margin-right: 0.5rem;
    }

    &Cancel {
      @include buttonColor($white, $black);
    }

    &Submit {
      @include buttonColor($yellow, $black);
    }
  }

  &Input {
    @include input;
  }

  &Textarea {
    margin-top: 2rem;
  }

  &Error {
    margin-top: 0.75rem;
    font-size: 0.75rem;
  }
}

.loading {
  @include loading;
}
