@font-face {
  font-family: "MontserratBold";
  src: local("MontserratBold"),
    url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "MontserratRegular";
  src: local("MontserratRegular"),
    url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "RampantOneRegular";
  src: local("RampantOneRegular"),
    url("../fonts/RampartOne-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "AclonicaRegular";
  src: local("AclonicaRegular"),
  url("../fonts/Aclonica-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "PinyonScriptRegular";
  src: local("PinyonScriptRegular"),
  url("../fonts/PinyonScript-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "AmitaBold";
  src: local("AmitaBold"),
  url("../fonts/Amita-Bold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "SpecialEliteRegular";
  src: local("SpecialEliteRegular"),
  url("../fonts/SpecialElite-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "CreepsterRegular";
  src: local("CreepsterRegular"),
  url("../fonts/Creepster-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "PressStart2PRegular";
  src: local("PressStart2PRegular"),
  url("../fonts/PressStart2P-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "CormorantGaramondBold";
  src: local("CormorantGaramondBold"),
  url("../fonts/CormorantGaramond-Bold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "CaveatMedium";
  src: local("CaveatMedium"),
  url("../fonts/Caveat-Medium.ttf") format("truetype");
  font-weight: 500;
}

.horror {
  font-family: 'CreepsterRegular', sans-serif;
  font-size: 1.2rem;
}

.historical {
  font-family: 'PinyonScriptRegular', sans-serif;
  font-size: 1.5rem;
  line-height: 1;
}

.detective {
  font-family: 'CormorantGaramondBold', sans-serif;
  font-size: 1.4rem;
  line-height: 1;
}

.romance {
  font-family: 'CaveatMedium', sans-serif;
  font-size: 1.5rem;
  line-height: 1;
}

.adventure {
  font-family: 'AclonicaRegular', sans-serif;
  font-size: 1.2rem;
  line-height: 1;
}

.dystopian {
  font-family: 'SpecialEliteRegular', sans-serif;
  font-size: 1.1rem;
  line-height: 1.3;
}

.science-fiction {
  font-family: 'PressStart2PRegular', sans-serif;
  font-size: .75rem;
  line-height: 1.3;
}

.fantasy {
  font-family: 'AmitaBold', sans-serif;
  font-size: 1.2rem;
  line-height: 1.1;
}
